/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Patient/doctor uploaded media (PHI) - never commit
/storage/app/img/
/storage/app/images/
/storage/app/public/
/public/img/Grecoanabellaunlp/
/public/img/antoluini/
/public/img/candelariamarino23/
/public/img/consultoriopediatriamsv/
/public/img/enriquezp32/
/public/img/examenes_complementarios/
/public/img/fmaydana/
/public/img/gina.speciale89/
/public/img/gisele_23/
/public/img/guigariboldi/
/public/img/lucasgonzalezg/
/public/img/ludiomedi/
/public/img/luli_atela/
/public/img/marianaromano2986/
/public/img/mbolletta88/
/public/img/medico1/
/public/img/medico2/
/public/img/medicos/
/public/img/melicassonlet/
/public/img/mfge23/
/public/img/msviturropediatra/
/public/img/namaruenda/
/public/img/ramiromendizabal1/
/public/img/romina_barrios/
/public/img/valentinaromano907/
